li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

button {
  background-color: #ffffff;
  color: #ff0b37;
  border: 20px solid #ff0b37;
  border-radius: 10px;
  padding: 10px 15px;
}
p {
  color: #000000;
  font-size: 20px;
}
